@import "tailwindcss";

html,body{
    scroll-behavior: smooth;
    scroll-padding-top: 10px;
    margin: 0;
    padding: 0;
      overflow-x: hidden;

}
.home img{
  animation-name: superman;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes superman {
  0% {
    border-color: blue;
    transform: translate(0, 0px);
    box-shadow: 10px 10px 100px 50px blue;
  }

  25% {
    border-color: rgb(239, 244, 11);
    box-shadow: 10px 10px 100px 50px rgb(239, 244, 11);
  }

  50% {
    border-color: rgb(12, 12, 199);
    transform: translate(0, 10px);
    box-shadow: 10px 10px 100px 50px rgb(12, 12, 199);
  }

  75% {
    border-color: rgb(130, 217, 160);
    box-shadow: 10px 10px 100px 50px rgb(130, 217, 160);
  }

  100% {
    border-color: rgb(50, 55, 205);
    transform: translate(0, -0px);
    box-shadow: 10px 10px 100px 50px rgb(50, 55, 205);
  }
}